#bar{
    text-align: center;
    background-color: white;
}

#bar-logo {
    display: inline;
    max-width: 160px;
}

#links {
    width: 50%;
    display: inline;
}

#links * {
    text-decoration: none;
    color: black;
    margin-left: 36px;
}

#links :hover {
    text-decoration: underline;
}
